<html>
<head></head>
<br><br>
<form action = "/" method = "POST"><br>
  <p>Text to analyse<input type = "text" name = "text" /></p>
  <p><input type = "submit" value = "Get sentiment score" /></p>
</form><br>
<p>{{resFeeling}} ({{ana.score}})</p>
<br><br>
<b><b>

<b>Twillio feature</b><br>
<input type="text" value="twillio"><br>
<button>Send text to Twillio</button><br>
<b><b>

<b>Twillio feature</b><br>
<input type="text" value="twillio"><br>
<button>Send text to Twillio</button><br>
<b><b>

</html>
